@import './../../_common.scss';

.channel-edit {
  @extend .box;
  @extend .right-panel;

  &__form {
    display: flex;
    flex-flow: column nowrap;
  }

  &__input {
    width: 100%;
    resize: none;
    &_error {
      background-color: tomato;
    }
  }
}
