/*
@import '../../styles.scss';

.channel-list-item {
  @extend .clearfix;

  background-color: antiquewhite;
  border-bottom: 1px solid #000;

  padding: 12px;

  &__left {
    float: left;
  }

  &__right {
    float: left;
  }
}
*/

.channel-list-item {
  &_active {
    background-color: red;
  }
}
