/*
.channel-list {
  &__wrapper {
    position: absolute;
    height: 100%;

    overflow: hidden;
    border-radius: 20px;
    border: 1px solid greenyellow;

    background-color: #89bdff;
  }

  height: 100%;
  overflow-y: scroll;

  margin: 0;
  padding: 0;
  list-style: none;
}
*/

@import './../../_common.scss';

.channel-list {
  @extend .box;

  flex: 1 30%;
  margin-right: 10px;
  background-color: #56ba4a;


}
