html
  head
    link(rel="stylesheet", href='/style.css')
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
    script(src="https://storage.googleapis.com/feednami-static/js/feednami-client-v1.0.1.js")
  body
    #root
    script(src='/index.js')
