.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  background-color: gray;
}

.app {
  /*
  position: relative;
  height: 100%;
  */
}

.app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: stretch;

  height: 100%;
}
