@import './../../_common.scss';

.channel-show {
  @extend .box;

  flex: 1 70%;

  display: flex;
  flex-flow: column nowrap;

  background-color: #6B90D4;

  &__list{
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
