@import './../../_common.scss';

.channel-show {
  @extend .box;

  flex: 1 70%;

  display: flex;
  flex-flow: column nowrap;

  background-color: #6B90D4;

  &__list {
    flex: 1 1 auto;
    overflow-y: auto;

  }

  &__header {
    display: flex;
    flex-flow: row nowrap;

    min-height: 50px;
  }
  &__image {
    &-wrapper {
      height: 50px;
      width: 150px;
    }
    max-width: 100%;
  }

  &__control {

  }
}
